{% load static %}

<!-- https://webdevtrick.com/css-responsive-navbar/ -->
<!DOCTYPE html>
<!-- code by webdevtrick ( https://webdevtrick.com ) -->
<html>

<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/resp_nav_style.css' %}">
</head>

<body>

  <section class="nav-bar">
  <div class="nav-container">
    <div class="brand">
      <a class="brand" href="{% url 'index' %}"><img src="{% static 'dronebar/drone.png' %}" alt="Dronebar"></a>
    </div>
    <nav>
      <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li class="active"><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li class="active"><a href="{% url 'accounts:profile' %}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>

        <!-- management menu -->
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span> Manage
          <span></span></a>
          <ul class="nav-dropdown">
            <li><a href="#">Announcements</a></li>
            <li><a href="#">Payment Methods</a></li>
            <li><a href="#">Shops Agreements</a></li>
          </ul>
        </li>
        <!-- Shops menu -->
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Shops
          <span></span></a>
			    <ul class="nav-dropdown">
            <li><a href="{% url 'shops:shop_list' %}">Shops</a></li>
            <li><a href="{% url 'shops:service_site_list' %}">Service Sites</a></li>
            <li><a href="{% url 'shops:menu_list' %}">Menus</a></li>
            <li><a href="{% url 'shops:menu_item_list' %}">Menu Items</a></li>
          </ul>
        </li>

        <!-- orders menu -->
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-pencil"></span> Orders
          <span></span></a>
			    <ul class="nav-dropdown">
            <li><a href="{% url 'orders:my_orders' %}">My Orders</a></li>
            <li><a href="{% url 'orders:live_orders' %}" id="emp">Live Orders In Shop</a></li>
            <li><a href="{% url 'orders:order_search' %}">Search Orders</a></li>
            <li><a id="emp" href="{% url 'orders:order_create' %}">**Create Test Order**</a></li>
          </ul>
        </li>

        <!-- drones menu -->
        <li>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-move"></span> Drones
          <span></span></a>
			    <ul class="nav-dropdown">
            <li><a href="{% url 'drones:drone_list' %}">Drones</a></li>
            <li><a href="{% url 'drones:drone_type_list' %}">Drone Types</a></li>
            <li><a href="{% url 'orders:drone_orders' %}" id="emp">Drone Orders</a></li>
          </ul>
        </li>

        <li><a href="{% url 'accounts:logout' %}" id="emp">Logout {{request.user}}</a></li>


      </ul>
    </nav>
  </div>
</section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript"  src="{% static 'js/main.js' %}"></script>
  <script type="text/javascript"  src="{% static 'js/resp_nav_js.js' %}"></script>

    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

</body>

</html>
